$accent_color: #4caf4f;
$even_container_bg: #f5f7fa;
$link_color: #18191f;

.logo {
  img {
    max-width: 100%;
  }
}

.menu-icon {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
  top: 1rem;

  span {
    width: 25px;
    height: 3px;
    background-color: $link_color;
  }
}

.link {
  ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    li {
      a {
        color: $link_color !important;
        text-decoration: none !important;
        transition: all ease-in 200ms;

        &:hover {
          transform: scale(1.1);
          color: #f0f4f0;
        }
      }
    }
  }
}

.nav-btn {
  display: flex;
  gap: 1rem;

  &__login {
    background-color: $even_container_bg;
    color: $accent_color;
    border: none;
    padding: 0.4rem 2rem;
    border-radius: 6px;
  }
  &__signup {
    color: white;

    &:hover {
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .link,
  .nav-btn {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: $even_container_bg;
    padding: 1rem;
  }

  .link.active,
  .nav-btn.active {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }

  .link {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    background-color: $even_container_bg;
    padding: 1rem;

    ul {
      flex-direction: column;
      gap: 1rem;

      li,
      a {
        transition: all ease-in 200ms !important;

        &:hover {
          transform: scale(1.1) !important;
          color: #f0f4f0;
        }
      }
    }
  }
  .logo {
    margin-top: 1rem;
  }

  .nav-btn {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }

  .link.active,
  .nav-btn.active {
    display: flex;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .link,
  .nav-btn {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: $even_container_bg;
    padding: 1rem;
  }

  .link.active,
  .nav-btn.active {
    display: flex;
  }

  .menu-icon {
    display: flex;
    right: -3rem;
  }

  .link {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    background-color: $even_container_bg;
    padding: 1rem;

    ul {
      flex-direction: column;
      gap: 1rem;
    }
  }
  .logo {
    margin-top: 1rem;
  }

  .nav-btn {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }

  .link.active,
  .nav-btn.active {
    display: flex;
  }
}
