$paragraph_color: #717171;

.system-box {
  height: 70%;
  margin-top: 1rem !important;
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: first baseline;

  p {
    padding: 0.5rem !important;
    color: $paragraph_color !important;
  }

  .items-box {
    width: 18.75rem;
    border-radius: 8px;
    height: 17.75rem;
    border-left: 4px #fafbfc solid;
    border-right: 4px #fafbfc solid;
    border-bottom: 4px #fafbfc solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.h3 {
  padding-top: 2rem !important;
  margin-top: 3rem !important;
}
