$even_container_bg: #f5f7fa;

main {
  height: 90vh;
  background-color: $even_container_bg;
}

@media (min-width: 601px) and (max-width: 1024px) {
  main {
    // margin-top: 6rem;
    height: 116vh;
    background-color: $even_container_bg;
  }
}
