<article>
    <div>
        <h3>Trending Products Right Now</h3>
    </div>
    <section>
        <div (click)="redirectitem(1, 'Black coat')">
            <img src="./fashion/dress1.jpg" alt="">
            <p>Black coat</p>
        </div>
        <div (click)="redirectitem(2, 'White & Cream Combo')">
            <img src="./fashion/dress2.jpg" alt="">
            <p>white & back combo</p>
        </div>
        <div (click)="redirectitem(3, 'White & Black Combo')">
            <img src="./fashion/dress-3.jpg" alt="">
            <p>white and cream combo</p>
        </div>
        <div (click)="redirectitem(4, 'Printed Kurta')">
            <img class="img-4" src="./fashion/dress4.jpg" alt="">
            <p>printed kurta</p>
        </div>
    </section>
</article>