$even_container_bg: #f5f7fa;

.demo {
  height: 18.75rem;
  margin-top: 8rem;
  background-color: $even_container_bg;
  text-align: center;

  h1 {
    padding-top: 3rem;
  }

  button {
    color: #f5f7fa;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
  }
}
