$heading_color: #4d4d4d;
$accent_color: #4caf4f;

h1 {
  color: #263238 !important;
  font-weight: 600 !important;
  font-size: 4rem !important;
}

h2 {
  font-size: 4rem !important;
  font-weight: 700 !important;
  color: $heading_color !important;
}

h3 {
  color: $heading_color !important;
  font-size: 2.25rem !important;
  padding: 1rem 0;
  font-weight: 600 !important;
}
h4 {
  font-weight: 700 !important;
  padding: 1.2rem 2.1rem;
  font-size: 1.75rem;
}
h5 {
  color: $accent_color !important;
  // margin-left: 2.5rem;
  // padding: 0.8em 0;
  margin: 0.7rem 0 !important;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}
