.main-image {
  width: 24em;
  height: 23rem;
}

.client-logo-img {
  margin: 0;
}

.pixel-img {
  width: 27.596rem;
  height: 20.562rem;
}
.local-img {
  width: 50px;
  height: 40px;
}

.pixel-sec__img {
  width: 23.596rem;
  height: 23.562rem;
}

.tesls-client-img {
  width: 60%;
}
.tesla-img {
  width: 21.375rem;
  height: 21rem;
}
.market-img {
  width: 23rem;
}
.footer_logo__img {
  width: 11.938rem !important;
  height: 1.854rem;
  margin-top: 4rem;
}
.footer-send-img {
  position: relative;
  bottom: 1.8rem;
  left: 6.6rem;
}
