input {
  border: none;
  border-radius: 8px;
  background-color: #515b60;
  width: 15.938rem;
  height: 2.5rem;
  padding-left: 1rem;
  margin-left: 2.5rem !important;
  margin-top: 2rem !important;
  color: #cccfd5;
}
