<article>
    <section>
        <img src="./fashion/fashion.png" alt="">

        <h1>Fashion</h1>

        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut libero deleniti commodi veniam<br> eligendi
                ectetur
                adipisicing elit. Ut libero deleniti commodi veniam eligendi ectetur adipisicing elit.<br> Ut libero
                deleniti
                commodi veniam eligendi
                culpa ullam incidunt </p>
        </div>
    </section>
</article>