<header class="header">
  <nav>
    <div class="nav-logo"><img class="logo" src="/header/logo.png" alt=""></div>

    <div class="link">
      <ul>
        <li>FEATURES</li>
        <li>WHY TOUCH</li>
        <li>PRICING</li>
        <li>BLOG</li>
      </ul>
    </div>

    <!-- Menu Toggle Checkbox -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox" />
    <label for="menu-toggle" class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </label>

  </nav>
  <div class="btns-div">
    <button class="btns-div__btn btns-div__btn-white">LOGIN</button>
    <button class="btns-div__btn">SIGN UP</button>
  </div>
</header>

<main>
  <section class="main-data">
    <h1>Digital data analytics_..</h1>
    <p>Integrate our solution — and <br> start processing more sales</p>

    <button class="btns-div__btn">Get started</button>
    <button class="btns-div__btn btns-div__btn-white">IT'S FREE</button>
  </section>
  <section class="main-img">
    <img class="hero-img" src="./hero/hero-img.png" alt="">
  </section>
</main>