.marketing {
  height: 31.625rem;
}

@media (max-width: 600px) {
  .marketing {
    height: 100rem;
    position: relative;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .marketing {
    height: 100rem;
  }
}
