<article>
    <section>
        <div class="data-div">
            <h2>Your One Stop Shop for Budget Friendly Living</h2>

            <p>Discover unbeatable deals, money-saving tips, and resources designed to help you live well without
                overspending. Start
                making the most of every dollar today</p>
            <button routerLink="products">Explore Now</button>
        </div>
        <div class="img-div"><img src="home/hero.png" alt=""></div>
    </section>
</article>

<router-outlet></router-outlet>