$paragraph_color: #717171;
$even_container_bg: #f5f7fa;

.marketing {
  h3 {
    margin-top: 2rem;
  }
  p {
    padding: 0 26rem !important;
    margin-top: 1% !important;
    color: $paragraph_color !important;
  }

  .market-box {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }

  .glow-box {
    width: 90%;
    height: 14rem;
    display: flex;
    gap: 3.5rem;
    top: 235rem;
    justify-content: center;
    position: absolute;

    &__divs {
      width: 19rem;
      border-radius: 8px;
      background-color: $even_container_bg;
      height: 11rem;
      padding: 0 16px;
      color: $paragraph_color !important;
      transition: all 100ms ease-in;
      box-shadow: 28px -1px 49px #b1b1b1, 0 12px 22px $even_container_bg;
      &:hover {
        transform: scale(1.01);
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }

      h3 {
        font-size: 20px !important;
        line-height: 1.9rem;
        margin-top: 0 !important;
        color: $paragraph_color !important;
        margin-bottom: -1rem !important;
      }
      h5,
      img {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .marketing {
    p {
      padding: 1rem !important;
    }

    .system-box {
      margin-top: 2rem !important;
    }

    .market-box {
      flex-direction: column;
      gap: 10rem;
    }
    .glow-box {
      top: 60rem !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 18rem;
    }
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .glow-box {
    top: 359rem !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    gap: 18rem !important;
  }

  .market-box {
    flex-direction: column !important;
    gap: 10rem !important;
    margin-top: 3rem !important;
  }

  .marketing {
    p {
      padding: 1rem !important;
    }
  }
}
