html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
}

a {
  color: #18191f !important;
  text-decoration: none !important;
}

button {
  border: none;
  padding: 0.4rem 2rem;
  border-radius: 6px !important;
  background-color: #4caf4f;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 50rem;
}

.main-image {
  width: 24em;
  height: 23rem;
}

.client-logo-img {
  margin: 0;
}

.pixel-img {
  width: 27.596rem;
  height: 20.562rem;
}

.local-img {
  width: 50px;
  height: 40px;
}

.pixel-sec__img {
  width: 23.596rem;
  height: 23.562rem;
}

.tesls-client-img {
  width: 60%;
}

.tesla-img {
  width: 21.375rem;
  height: 21rem;
}

.market-img {
  width: 23rem;
}

.footer_logo__img {
  width: 11.938rem !important;
  height: 1.854rem;
  margin-top: 4rem;
}

.footer-send-img {
  position: relative;
  bottom: 1.8rem;
  left: 6.6rem;
}

h1 {
  color: #263238 !important;
  font-weight: 600 !important;
  font-size: 4rem !important;
}

h2 {
  font-size: 4rem !important;
  font-weight: 700 !important;
  color: #4d4d4d !important;
}

h3 {
  color: #4d4d4d !important;
  font-size: 2.25rem !important;
  padding: 1rem 0;
  font-weight: 600 !important;
}

h4 {
  font-weight: 700 !important;
  padding: 1.2rem 2.1rem;
  font-size: 1.75rem;
}

h5 {
  color: #4caf4f !important;
  margin: 0.7rem 0 !important;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}

p {
  color: #717171 !important;
  padding: 1rem 0;
}

input {
  border: none;
  border-radius: 8px;
  background-color: #515b60;
  width: 15.938rem;
  height: 2.5rem;
  padding-left: 1rem;
  margin-left: 2.5rem !important;
  margin-top: 2rem !important;
  color: #cccfd5;
}

.nav-btn-1 {
  background-color: white !important;
  color: #4caf4f;
  margin-right: 1rem;
}

.logo img {
  max-width: 100%;
}

.menu-icon {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
  top: 1rem;
}
.menu-icon span {
  width: 25px;
  height: 3px;
  background-color: #18191f;
}

.link ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.link ul li a {
  color: #18191f !important;
  text-decoration: none !important;
}

.nav-btn {
  display: flex;
  gap: 1rem;
}
.nav-btn .nav_btn-1 {
  background-color: white;
  color: #4caf4f;
  border: none;
  padding: 0.4rem 2rem;
  border-radius: 6px;
}
.nav-btn .nav_btn-2 {
  background-color: #4caf4f;
  color: white;
  border: none;
  padding: 0.4rem 2rem;
  border-radius: 6px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .link,
  .nav-btn {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f5f7fa;
    padding: 1rem;
  }
  .link.active,
  .nav-btn.active {
    display: flex;
  }
  .menu-icon {
    display: flex;
  }
  .link {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    background-color: #f5f7fa;
    padding: 1rem;
  }
  .link ul {
    flex-direction: column;
    gap: 1rem;
  }
  .logo {
    margin-top: 1rem;
  }
  .nav-btn {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }
  .link.active,
  .nav-btn.active {
    display: flex;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .link,
  .nav-btn {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f5f7fa;
    padding: 1rem;
  }
  .link.active,
  .nav-btn.active {
    display: flex;
  }
  .menu-icon {
    display: flex;
  }
  .link {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    background-color: #f5f7fa;
    padding: 1rem;
  }
  .link ul {
    flex-direction: column;
    gap: 1rem;
  }
  .logo {
    margin-top: 1rem;
  }
  .nav-btn {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }
  .link.active,
  .nav-btn.active {
    display: flex;
  }
}
.main_sect {
  padding: 0 rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35rem;
}
.main_sect h2 {
  margin-top: 2rem;
}
.main_sect p {
  color: #717171 !important;
}

.main_sect-btn {
  color: white !important;
  padding: 1rem 2.3rem;
  margin-top: 1.5rem;
}

@media (max-width: 600px) {
  .main_sect {
    flex-direction: column;
    height: 45rem;
    padding: 0 2rem !important;
  }
  .main_sect h2 {
    font-size: 3.5rem !important;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .main_sect {
    flex-direction: column;
    height: 69vh !important;
    padding: 0 2rem !important;
  }
  .main_sect h2 {
    font-size: 3.5rem !important;
    margin-top: 18rem !important;
  }
}
.system-box {
  height: 70%;
  margin-top: 1rem !important;
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: first baseline;
}
.system-box p {
  padding: 0.5rem !important;
  color: #717171 !important;
}
.system-box .items-box {
  width: 18.75rem;
  border-radius: 8px;
  height: 17.75rem;
  border-left: 4px #fafbfc solid;
  border-right: 4px #fafbfc solid;
  border-bottom: 4px #fafbfc solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h3 {
  padding-top: 2rem !important;
  margin-top: 3rem !important;
}

@media (max-width: 600px) {
  .system-box {
    flex-direction: column;
    margin-top: 2rem !important;
    align-items: center;
    height: 60rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .system-box {
    margin-top: 1rem !important;
    width: 100%;
    gap: 1rem;
  }
  .system-box .items-box {
    width: 16.75rem !important;
  }
}
.pixel-sec {
  height: 90%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}
.pixel-sec p {
  margin-top: 1.5rem !important;
  color: #717171 !important;
}
.pixel-sec button {
  padding: 0.8rem 2rem;
  margin: 2rem 0;
}
.pixel-sec.pixel-sec {
  height: 90%;
  padding: 10rem;
}

@media (max-width: 600px) {
  .pixel-sec {
    flex-direction: column-reverse;
    justify-content: center;
    height: 50rem;
    padding: 2rem !important;
    max-width: 617px !important;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .pixel-sec {
    flex-direction: column;
    justify-content: center;
    height: 50rem;
    width: 40%;
    padding: 2rem !important;
  }
  .pixel-sec__data {
    width: 100%;
  }
}
.local-h3 {
  font-weight: 600 !important;
  font-size: 3rem !important;
  margin-top: 3rem;
}

p {
  margin: 0 !important;
  color: black !important;
  margin: 0 !important;
  padding: 0 !important;
}

.local-div {
  height: 20rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.local-div .local-div__left {
  width: 50%;
  height: 100%;
  margin-right: 1rem;
}
.local-div .local-div__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
}
.local-div .local-div__right .items {
  width: 5rem;
  height: 5rem;
  margin-left: 9rem;
  display: flex;
  gap: 2rem;
}
.local-div .local-div__right .items p {
  margin: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  color: gray !important;
}
.local-div .local-div__right .items.hp {
  display: flex;
  flex-direction: column;
}
.local-div .local-div__right h3 {
  font-size: 2rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
  padding: 0;
}
.local-div .local-div__right .flex-right,
.local-div .local-div__right .flex-left {
  display: flex;
  gap: 1rem;
}

@media (max-width: 600px) {
  .items {
    margin: 0.4rem !important;
  }
  .local-div {
    flex-direction: column;
    height: 50rem;
  }
  .local-div__left {
    width: 90% !important;
  }
  .local-div__right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90% !important;
    margin-right: 1rem !important;
  }
  .local-div__right h3 {
    font-size: 1rem !important;
  }
  .local-div__right .flex-left,
  .local-div__right .flex-right {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .items {
    margin: 0.4rem !important;
  }
  .local-div {
    flex-direction: column;
    height: 50rem;
  }
  .local-div__left {
    width: 90% !important;
  }
  .local-div__right {
    flex-direction: row !important;
    align-items: center;
    gap: 7rem !important;
    justify-content: center;
    width: 90% !important;
    margin-right: 1rem !important;
    margin-bottom: 7rem;
    margin-left: 11rem;
  }
  .local-div__right h3 {
    font-size: 1rem !important;
  }
  .local-div__right .flex-left,
  .local-div__right .flex-right {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}
.design .pixel-sec-design {
  height: 62rem !important;
  display: flex;
  flex-direction: column-reverse;
}
.design button,
.design p {
  margin-top: 2.5rem;
}
.design.data p {
  padding-top: 2.5rem !important;
}

@media (max-width: 600px) {
  .design {
    flex-direction: column-reverse !important;
    height: 60rem;
  }
  .design .pixel-sec-design {
    height: 70rem !important;
    margin: 0 !important;
  }
  .design .pixel-sec {
    flex-direction: column;
    justify-content: center;
    display: flex !important;
    height: 50rem;
    padding: 2rem !important;
  }
  .design .pixel-sec__data {
    width: 80% !important;
    background-color: aqua;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .design {
    flex-direction: column-reverse !important;
    height: 60rem;
  }
  .design .pixel-sec-design__div {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem !important;
    margin-left: 1rem !important;
  }
  .design .pixel-sec {
    flex-direction: row;
    justify-content: center;
    height: 50rem;
    padding: 2rem !important;
  }
  .design .design-sec__data h3 {
    margin-top: 2rem;
  }
  .design .pixel-sec__data {
    width: 90% !important;
    background-color: aqua;
    padding-right: 0 !important;
  }
}
.tesla-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.tesla-section p {
  color: #717171 !important;
  padding-right: 3rem !important;
  margin-top: 2.5rem !important;
  font-weight: 600;
}
.tesla-section .last-para {
  margin: 0 !important;
  font-weight: 400;
}
.tesla-section .tesla-section__left {
  display: flex;
  justify-content: center;
  width: 30rem;
  align-items: center;
}
.tesla-section .tesla-section__right {
  width: 70rem;
  height: 25rem;
  padding-left: 6rem;
}
.tesla-section .botton-tesla {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .tesla-section {
    flex-direction: column;
  }
  .tesla-section .tesla-section__left {
    width: 100%;
    margin-top: 3rem;
    flex-direction: column;
  }
  .tesla-section .botton-tesla {
    padding-top: 1rem;
    flex-direction: column;
    gap: 2rem;
  }
  .tesla-section .botton-tesla .tesls-client-img {
    width: 90%;
  }
  .tesla-section .tesla-section__right {
    width: 100%;
    padding: 0 2rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .tesla-article {
    height: 40.375rem !important;
  }
  .tesla-section {
    flex-direction: column;
  }
  .tesla-section__right {
    padding: 0 14rem !important;
  }
}
.marketing h3 {
  margin-top: 2rem;
}
.marketing p {
  padding: 0 26rem !important;
  margin-top: 1% !important;
  color: #717171 !important;
}
.marketing .market-box {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.marketing .glow-box {
  width: 90%;
  height: 14rem;
  display: flex;
  gap: 7.5rem;
  top: 230rem;
  justify-content: center;
  position: absolute;
}
.marketing .glow-box .market-box__box-divs {
  width: 19rem;
  border-radius: 8px;
  background-color: #f5f7fa;
  height: 11rem;
  padding: 0 16px;
  box-shadow: 28px -1px 49px #b1b1b1, 0 12px 22px #f5f7fa;
}
.marketing .glow-box .market-box__box-divs div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.marketing .glow-box .market-box__box-divs h3 {
  font-size: 20px !important;
  line-height: 1.9rem;
  margin-top: 0 !important;
  margin-bottom: -1rem !important;
}
.marketing .market-box__box {
  background-color: aquamarine;
}
.marketing .market-box__box p {
  padding: 0 !important;
}

@media (max-width: 600px) {
  .marketing p {
    padding: 1rem !important;
  }
  .marketing .system-box {
    margin-top: 7rem !important;
  }
  .marketing .system-box .market-box__box-divs {
    width: 19rem;
    border-radius: 8px;
    position: absolute;
    background-color: #f5f7fa;
    height: 13rem;
    top: 2rem;
    padding: 0 16px;
    box-shadow: 28px -1px 49px #b1b1b1, 0 12px 22px #f5f7fa;
  }
  .marketing .market-box {
    flex-direction: column;
    gap: 10rem;
  }
  .marketing .glow-box {
    top: 60rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18rem;
  }
  .marketing .market-box__box-divs div {
    flex-direction: row;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .glow-box {
    top: 346rem !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    gap: 18rem !important;
  }
  .market-box {
    flex-direction: column !important;
    gap: 10rem !important;
  }
  .market-box__box-divs {
    width: 19rem;
    border-radius: 8px;
    position: absolute;
    background-color: #f5f7fa;
    height: 13rem;
    top: 2rem;
    padding: 0 16px;
    box-shadow: 28px -1px 49px #b1b1b1, 0 12px 22px #f5f7fa;
  }
  .marketing p {
    padding: 1rem !important;
  }
}
.footer_logo,
.footer-Company,
.footer-Support,
.footer-input {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 20rem;
}

.footer_logo {
  color: white !important;
}
.footer_logo .social-grp {
  display: flex;
  gap: 1rem;
  margin-top: 3rem !important;
  flex-direction: row;
}
.footer_logo .social-grp .socail-grid__round {
  border-radius: 100%;
  background-color: #3b464c;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.footer-Support h6,
.footer-Company h6 {
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.footer-Support ul,
.footer-Company ul {
  flex-direction: column;
  padding-left: 8rem;
  align-items: start !important;
  width: 100%;
  gap: 0.6rem;
  align-items: center;
}
.footer-Support ul li,
.footer-Company ul li {
  color: #d9dbe1;
  font-size: 14px !important;
}

.footer-input h5 {
  font-weight: 600 !important;
  font-size: 1.8rem !important;
  margin-top: 4rem !important;
  color: white !important;
}

@media (max-width: 600px) {
  footer .footer_logo,
  footer .footer-Company,
  footer .footer-Support,
  footer .footer-input {
    width: 100%;
    flex-direction: column;
  }
  footer .footer-Company ul,
  footer .footer-Support ul {
    padding-left: 10rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  footer .footer_logo,
  footer .footer-Company,
  footer .footer-Support,
  footer .footer-input {
    width: 100%;
    flex-direction: column;
  }
  footer .footer-Company ul,
  footer .footer-Support ul {
    padding-left: 13.6rem;
  }
}
header {
  background-color: #f5f7fa;
  height: 84px;
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

main {
  height: 90vh;
  background-color: #f5f7fa;
}

@media (min-width: 601px) and (max-width: 1024px) {
  main {
    height: 116vh;
    background-color: #f5f7fa;
  }
}
.client {
  height: 12.875rem;
  text-align: center;
}
.client p {
  padding: 0rem;
  color: #717171 !important;
}

@media (max-width: 600px) {
  .client {
    margin-top: 9rem;
    height: 20rem;
    background-color: #f5f7fa;
  }
  .client .client-logo-img {
    width: 90%;
    height: 10rem;
  }
}
.system {
  height: 27rem;
  text-align: center;
}

@media (max-width: 600px) {
  .system {
    height: 80rem;
  }
}
.pixelgrade {
  height: 27.063rem;
  margin-top: 7rem;
}
.pixelgrade h3 {
  padding-bottom: 0;
}

@media (max-width: 600px) {
  .pixelgrade {
    height: 60rem;
    margin-top: 2rem !important;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .pixelgrade {
    height: 50rem;
    text-align: center;
  }
}
.localbusiness-div {
  background-color: #f5f7fa;
  height: 19.875rem;
}

@media (max-width: 600px) {
  .localbusiness-div {
    height: 50rem;
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .localbusiness-div {
    height: 35rem;
    text-align: center;
  }
}
.design {
  margin-top: 2rem !important;
  height: 35rem;
}
.design .pixel-sec-design {
  height: 36rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem !important;
}
.design .pixel-sec-design .pixel-sec-design__div {
  width: 30%;
  margin-left: 9rem;
}
.design .design-sec__data {
  width: 51%;
  padding-right: 4rem;
}

@media (max-width: 600px) {
  .design {
    flex-direction: column-reverse !important;
    height: 80rem;
  }
  .design .design-sec__data {
    width: 100%;
    padding-right: 0;
  }
  .design .pixel-sec-design__div {
    width: 100% !important;
    margin-left: 0rem !important;
  }
  .design .pixel-sec-design {
    flex-direction: column-reverse;
    justify-content: center;
    height: 37rem !important;
    width: 90%;
    gap: 5rem;
    margin-top: 2rem !important;
    padding: 2rem !important;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .design {
    flex-direction: column !important;
    height: 70rem;
    justify-content: space-between;
  }
  .design .pixel-sec-design {
    flex-direction: column;
  }
  .design .design-sec__data {
    width: 100% !important;
    margin-top: 4rem;
  }
}
.tesla-article {
  background-color: #f5f7fa;
  height: 24.375rem;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .tesla-article {
    height: 70rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .tesla-article {
    width: 100%;
    height: 50.375rem !important;
    padding: 0 3rem;
  }
}
.marketing {
  height: 31.625rem;
}

@media (max-width: 600px) {
  .marketing {
    height: 100rem;
    position: relative;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .marketing {
    height: 100rem;
  }
}
.demo {
  height: 18.75rem;
  margin-top: 8rem;
  background-color: #f5f7fa;
  text-align: center;
}
.demo h1 {
  padding-top: 3rem;
}
.demo button {
  color: #f5f7fa;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
}

@media (max-width: 600px) {
  .demo {
    height: 30rem;
  }
}
footer {
  height: 20.5rem;
  background-color: #263238;
  color: white !important;
}
footer section {
  display: flex;
  align-items: center;
  justify-content: first baseline;
}

@media (max-width: 600px) {
  footer {
    height: 80rem;
  }
  footer section {
    flex-direction: column;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  footer {
    height: 80rem;
  }
  footer section {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */