$even_container_bg: #f5f7fa;

.localbusiness-div {
  background-color: $even_container_bg;
  height: 19.875rem;
}
@media (max-width: 600px) {
  .localbusiness-div {
    height: 50rem;
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .localbusiness-div {
    height: 35rem;
    text-align: center;
  }
}
