.tesla-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  p {
    color: #717171 !important;
    padding-right: 3rem !important;
    margin-top: 2.5rem !important;
    font-weight: 600;
  }

  .last-para {
    margin: 0 !important;
    font-weight: 400;
  }

  .tesla-section__left {
    display: flex;
    justify-content: center;
    // background-color: rgb(204, 220, 220) !important;
    width: 30rem;
    align-items: center;
  }

  .tesla-section__right {
    width: 70rem;
    height: 25rem;
    padding-left: 6rem;
    // background-color: aqua;
  }

  .botton-tesla {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    // gap: 2rem;
  }
}
@media (max-width: 600px) {
  .tesla-section {
    flex-direction: column;

    .tesla-section__left {
      width: 100%;
      margin-top: 3rem;
      flex-direction: column;
    }
    .botton-tesla {
      padding-top: 1rem;
      flex-direction: column;
      gap: 2rem;

      .tesls-client-img {
        width: 90%;
      }
    }

    .tesla-section__right {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .tesla-article {
    height: 40.375rem !important;
  }

  .tesla-section {
    flex-direction: column;
  }
  .tesla-section__right {
    padding: 0 14rem !important;
  }
}
