.design {
  .pixel-sec-design {
    height: 30rem !important;
    display: flex;
    // background-color: aqua !important;
  }

  button,
  p {
    margin-top: 2.5rem;
  }

  &.data {
    p {
      padding-top: 2.5rem !important;
    }
  }
}

@media (max-width: 600px) {
  .design {
    flex-direction: column-reverse !important;
    height: 60rem;

    .pixel-sec-design {
      height: 70rem !important;
      margin: 0 !important;
    }

    .pixel-sec {
      flex-direction: column;
      justify-content: center;
      height: 50rem;
      padding: 2rem !important;
    }
    .pixel-sec__data {
      width: 80% !important;
      background-color: aqua;
    }
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .design {
    flex-direction: column-reverse !important;
    height: 60rem;
    .pixel-sec-design__div {
      margin-left: 1rem !important;
    }
    .pixel-sec {
      flex-direction: row;
      justify-content: center;
      height: 50rem;
      padding: 2rem !important;
    }
    .pixel-sec__data {
      width: 90% !important;
      background-color: aqua;
      padding-right: 0 !important;
    }
  }
}
